In [44]:
import pandas as pd
import numpy as np

In [18]:
#import pandas as rokon
data4 ={
    'Firstname':['sanskar','Mithilesh','Panda'],
    'Lastname':['debnath','bhattacharjee','numpy'],
    'Age':['21','22','5']
}
defi = pd.DataFrame(data4)
print (defi)

   Firstname       Lastname Age
0    sanskar        debnath  21
1  Mithilesh  bhattacharjee  22
2      Panda          numpy   5

In [27]:
data_train = {
    'Train_name' : ['Bandebharat','Gatimaan Express','New Delhi - Bhopal Shatabdi Express','Mumbai - New Delhi Rajdhani Express & Kanpur Shatabdi Express','Mumbai LTT - H.Nizamuddin AC Superfast Express'],
    'speed_in_km/h' : ['180','160','150','140','130']
}

train_calc = pd.DataFrame(data_train)
print (train_calc)

train_calc.describe()

                                          Train_name speed_in_km/h
0                                        Bandebharat           180
1                                   Gatimaan Express           160
2                New Delhi - Bhopal Shatabdi Express           150
3  Mumbai - New Delhi Rajdhani Express & Kanpur S...           140
4     Mumbai LTT - H.Nizamuddin AC Superfast Express           130

         Train_name speed_in_km/h
count             5             5
unique            5             5
top     Bandebharat           180
freq              1             1

# train_data

In [40]:
train_data2 = {
    'TrainName': ['Rajdhani Express', 'Shatabdi Express', 'Duronto Express', 'Gatimaan Express', 'Vande Bharat Express'],
    'TrainStation': ['New Delhi', 'Mumbai Central', 'Howrah Junction', 'H. Nizamuddin', 'New Delhi'],
    'TrainMaxSpeed': [130, 150, 120, 160, 180],
    'TrainBuildDate': ['2000-01-01', '2005-03-15', '2012-09-30', '2016-05-20', '2018-12-25'],
    'TrainAccidentRate': [0.05, 0.02, 0.03, 0.01, 0.01],
    'TravelTime': [8.5, 6.0, 10.0, 3.5, 6.5],
    'Origin': ['New Delhi', 'Mumbai', 'Kolkata', 'Delhi', 'Varanasi'],
    'Destination': ['Mumbai', 'Bangalore', 'Chennai', 'Agra', 'Lucknow']
}
train_df = pd.DataFrame(train_data2)
print(train_df)
#train_df.describe()

              TrainName     TrainStation  TrainMaxSpeed TrainBuildDate  \
0      Rajdhani Express        New Delhi            130     2000-01-01
1      Shatabdi Express   Mumbai Central            150     2005-03-15
2       Duronto Express  Howrah Junction            120     2012-09-30
3      Gatimaan Express    H. Nizamuddin            160     2016-05-20
4  Vande Bharat Express        New Delhi            180     2018-12-25

   TrainAccidentRate  TravelTime     Origin Destination
0               0.05         8.5  New Delhi      Mumbai
1               0.02         6.0     Mumbai   Bangalore
2               0.03        10.0    Kolkata     Chennai
3               0.01         3.5      Delhi        Agra
4               0.01         6.5   Varanasi     Lucknow

In [35]:
train_df.describe()

       TrainMaxSpeed  TrainAccidentRate  TravelTime
count       5.000000           5.000000    5.000000
mean      148.000000           0.024000    6.900000
std        23.874673           0.016733    2.484955
min       120.000000           0.010000    3.500000
25%       130.000000           0.010000    6.000000
50%       150.000000           0.020000    6.500000
75%       160.000000           0.030000    8.500000
max       180.000000           0.050000   10.000000

In [36]:
train_df['TrainMaxSpeed'][4]

180

In [43]:
train_df ['TrainName'][4] = 'agartala to shilchar express'
print (train_df)

                      TrainName     TrainStation  TrainMaxSpeed  \
0              Rajdhani Express        New Delhi            130
1              Shatabdi Express   Mumbai Central            150
2               Duronto Express  Howrah Junction            120
3              Gatimaan Express    H. Nizamuddin            160
4  agartala to shilchar express        New Delhi            180

  TrainBuildDate  TrainAccidentRate  TravelTime     Origin Destination
0     2000-01-01               0.05         8.5  New Delhi      Mumbai
1     2005-03-15               0.02         6.0     Mumbai   Bangalore
2     2012-09-30               0.03        10.0    Kolkata     Chennai
3     2016-05-20               0.01         3.5      Delhi        Agra
4     2018-12-25               0.01         6.5   Varanasi     Lucknow

C:\Users\Acer\AppData\Local\Temp\ipykernel_13552\2906455060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df ['TrainName'][4] = 'agartala to shilchar express'

# series in python

In [52]:
ser = pd.Series(np.random.rand(1))
print (ser)
#type (ser)

0    0.557719
dtype: float64